PORT=5000
MONGO_URI=mongodb+srv://reddy59022_db_user:anNecZCiT3eJQfre@cluster.mongodb.net/poshmark?retryWrites=true&w=majority
JWT_SECRET=4QmypzuXr4jWuuQAa6hFuga0Mch4wT19Usj53CRxd14=
CLOUDINARY_CLOUD_NAME=dhw3unh0e
CLOUDINARY_API_KEY=536891899585567
CLOUDINARY_API_SECRET=kxa47g-Rl846xNqfWU0kh3uTN0M
NODE_ENV=development